body {
    position: absolute;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0a0a23;
    color: white;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #121232;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}


.hero {
    position: relative;
    padding: 100px 20px;
    
    
    
}

.bg {
    opacity: 0.7;
}




.hero h1 {
    font-size: 48px;
}

.hero p {
    font-size: 20px;
}



.content-section {
    padding: 50px 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
    
    header {
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    .hero {
        
        padding: 60px 20px;
    }

    .hero h1 {
        background-image: url('retardcat.jpg');
        background-size: 100% 100%;
        background-color: #0a0a23;
        font-size: 36px;
    }

    .hero p {
        font-size: 18px;
    }

    .btn {
        padding: 8px 16px;
    }
}

@media (max-width: 480px) {

    .hero h1 {
        font-size: 28px;
    }

    .hero p {
        font-size: 16px;
    }

    .btn {
        padding: 6px 12px;
    }
}
